#map {
    height: 100%;
    position: absolute;
    overflow: hidden;
    right: 500px;
    top: 150px;
    height: 500px;
    width: 800px;
    z-index: 1;
}

nav {
    background-color: lightgray;
}


.dim {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    filter: brightness(50%);
    box-shadow: 0 0 0 10000000px rgba(0, 0, 0, .5);
}

h1 {
    font-weight: normal;
}

#website-name {
    color: rgb(208, 27, 0);
    text-decoration: none;
}

#navbar a {
    text-decoration: none;
}

.hidden {
    display: none;
}

#location-pin {
    position: absolute;
    top: 76px;
    left: 1150px;
    z-index: 1;
    pointer-events: none;
}

img {
    overflow: hidden;
    width: 100%;
}

.restaurant img {
    height: 300px;
    width: 300px;
}

.hover:hover {
    background-color: rgba(0, 0, 0, 0.10);
    filter: brightness(90%);
    opacity: 0.95;
}